<!-- Main Navigation Bar -->
<div class="navbar-fixed">
  <nav class="teal darken-2">
    <div class="container">
      <a href="#!" class="brand-logo">E-KRISHI</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down menu">
        <li class="active"><a class="nav-item" href="#!">Home</a></li>
        <li><a class="nav-item" href="#!news">News</a></li>
        <li><a class="nav-item" href="#!weather">Weather</a></li>
        <li><a class="nav-item" href="#!forum">Forum</a></li>
        <li><a class="nav-item" href="#!login">logout</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- Side Navigation Bar -->
<ul class="side-nav menu" id="mobile-demo">
  <li class="active"><a href="#!">Home</a></li>
  <li><a href="#!news">News</a></li>
  <li><a href="#!weather">Weather</a></li>  
  <li><a href="#!forum">Forum</a></li>
  <li><a href="#!login">logout</a></li>          
</ul>