<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>E-KRISHI</title>
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
  
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Font Awesome Icons -->
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

  <!-- JQuery ===== Materialize Dependance -->
  <script src="js/jquery.min.js"></script>
  <!-- Materialize Js -->
  <script src="js/materialize.min.js"></script>
  <!-- Materialize Js Components initializer -->
  <script src="js/initializer.js"></script>
  <!-- Scroll Reveal  -->
  <script src="js/scrollreveal.min.js"></script>
  <!-- Custom Animation Event Trigger -->
  <script src="js/scroll.js"></script>

  <!-- Angular Js -->
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>

  <!-- Angular core file -->
  <script src="js/app.js"></script>

  <!-- Angular Controller -->
  <script src="js/controllers/root.controller.js"></script>
  <script src="js/controllers/home.controller.js"></script>
  <script src="js/controllers/login.controller.js"></script>
  <script src="js/controllers/register.controller.js"></script>
  <script src="js/controllers/forum.controller.js"></script>
  <script src="js/controllers/channel.controller.js"></script>

  <!-- Angular Service -->
  <script src="js/service/authentication.service.js"></script>
  <script src="js/service/user.service.js"></script>
  <script src="js/service/type.service.js"></script>
</head>
<body ng-controller="rootController">
  <div ng-show="logStatus">
    <% include includes/navbar.ejs %>  
  </div>
  <ng-view></ng-view>
</body>
</html>