<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>E-KRISHI</title>
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
  
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Font Awesome Icons -->
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

  <!-- JQuery ===== Materialize Dependance -->
  <script src="js/jquery.min.js"></script>
  <!-- Materialize Js -->
  <script src="js/materialize.min.js"></script>
  <!-- Materialize Js Components initializer -->
  <script src="js/initializer.js"></script>
  <!-- Scroll Reveal  -->
  <script src="js/scrollreveal.min.js"></script>
  <!-- Custom Animation Event Trigger -->
  <script src="js/scroll.js"></script>

  <!-- Angular Js -->
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>

  <!-- Angular core file -->
  <script src="js/app.js"></script>

  <!-- Angular Controller -->
  <script src="js/controllers/root.controller.js"></script>
  <script src="js/controllers/home.controller.js"></script>
  <script src="js/controllers/login.controller.js"></script>
  <script src="js/controllers/register.controller.js"></script>
  <script src="js/controllers/forum.controller.js"></script>
  <script src="js/controllers/channel.controller.js"></script>
  <script src="js/controllers/weather.controller.js"></script>
  <script src="js/controllers/news.controller.js"></script>
  <script src="js/controllers/profile.controller.js"></script>
  <script src="js/controllers/users.controller.js"></script>

  <!-- Angular Service -->
  <script src="js/service/authentication.service.js"></script>
  <script src="js/service/user.service.js"></script>
  <script src="js/service/type.service.js"></script>
  <script src="js/service/forum.service.js"></script>
  <script src="js/service/weather.service.js"></script>
  <script src="js/service/news.service.js"></script>
  <script src="js/service/post.service.js"></script>

  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
    }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body ng-controller="rootController">
  <div ng-show="logStatus">
    <% include includes/navbar.ejs %>  
    <div class="fixed-action-btn">
      <a href="#!profile" id="menu" class="btn-floating tooltipped btn-large teal darken-1" data-position="left" data-delay="50" data-tooltip="User Profile">
        <i class="large material-icons">perm_identity</i>
      </a>
    </div>

    <!-- Tap Target Structure -->
  <div class="tap-target teal darken-1 white-text hide-on-small-only" data-activates="menu">
    <div class="tap-target-content">
      <h5>Welcome {{ username }}</h5>
      <p class="justify-align">E-krishi is a Agriculture Based website which provide you a platform for various agriculture related information which you can use in your daily uses. We provide you various services such as current field weather and soil condition, agriculture related news, weather forecast, Discussion forums, user profile and connecting people with same minds</p>
    </div>
  </div>
  </div>
  <!-- Google Translate -->
  <div class="container right-align">
    <div id="google_translate_element"></div>
  </div>
  <ng-view></ng-view>
</body>
</html>