* {
  margin: 0;
  padding: 0;
  border: 0;
}

#login, #register {
  min-width: 100vw;
  min-height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
}

#login-page {
  width: 350px;
  margin: auto;
}

#forum .side-nav, #channel .side-nav {
  margin-top: 10vh;
  z-index: 1;
}

#forum .button-collapse, #channel .button-collapse {
  margin-top: 10vh;
  z-index: 0;
}

#forum h3 {
  text-transform: capitalize;
  text-align: center;
  margin: 50px auto;
}

#forum p {
  text-align: justify;
}

.messages-block {
  padding: 1em 1.5em; 
  background-color: rgba(200, 200, 200, 0.2);
  overflow-y: scroll;
  height: 60vh;
  max-height: 60vh; 
  text-align: justify;
}

.messages-block ul li {
  margin: 1em auto;
}

.messages-block .message-content {
  text-indent: 2em;
  display: block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}