* {
  margin: 0;
  padding: 0;
  border: 0;
}

#login, #register {
  min-width: 100vw;
  min-height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
}

#login-page {
  width: 350px;
  margin: auto;
}

#forum .side-nav, #channel .side-nav {
  margin-top: 10vh;
  z-index: 1;
}

#forum .button-collapse, #channel .button-collapse {
  margin-top: 10vh;
  z-index: 0;
}

#forum h3 {
  text-transform: capitalize;
  text-align: center;
  margin: 50px auto;
}

#forum p {
  text-align: justify;
}