<div class="row">
  <div class="col l2 m12 s12 no-padding">
    <ul id="slide-out" class="side-nav fixed teal darken-2">
      <li ng-repeat="channel in channels">
        <a ng-href="{{ channel.link }}" class="white-text"># {{ channel.name }}</a>
      </li>
    </ul>

    <div class="navbar-fixed hide-on-large-only">
      <nav class="teal darken-1" id="forum-channel">
        <ul class="center-align">
          <li ng-repeat="channel in channels">
            <a ng-href="{{ channel.link }}"># {{ channel.name }}</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
  <div class="col l10 m12 s12 no-padding">
    <div class="container">
      <!-- Chat System -->
    </div>
  </div>
</div>