<section id="channel">
  <div class="row">
    <div class="col l2 m12 s12 no-padding">
      <ul id="slide-out" class="side-nav fixed teal darken-2">
        <li><h3 class="white-text center-align">Forum Channels</h3></li>        
        <li ng-repeat="channel in channels">
          <a ng-href="{{ channel.link }}" class="white-text"># {{ channel.name }}</a>
        </li>
      </ul>

      <div class="navbar-fixed hide-on-large-only">
        <nav class="teal darken-1" id="forum-channel">
          <ul class="center-align">
            <li ng-repeat="channel in channels">
              <a ng-href="{{ channel.link }}"># {{ channel.name }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col l10 m12 s12 no-padding">
      <div class="container">
        <!-- Chat System -->
        <h3>{{ info }}</h3>
        <div class="messages-block">
          <ul>
            <li ng-repeat="x in channelMessage">
              <!-- right-alignment for own user message -->
              <div ng-class="{'right-align' : x.username === username}">
                <span class="chip">{{ x.username }} <br> {{ x.time }}</span>
                <span class="message-content">{{ x.message }}</span>
              </div>
            </li>            
          </ul>
        </div>
        <form name="message" ng-submit="addMessage()">
          <div class="row valign-wrapper">
            <div class="input-field col s11">
              <input type="text" class="validate" name="msg" id="forum_msg" ng-model="msg" placeholder="Enter your message here" data-length="250" required>
            </div>
            <div class="input-field col s1">
              <button type="submit" class="btn waves-effect waves-light">
                <i class="material-icons">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>