<section id="forum">
  <div class="row">
    <div class="col l2 m12 s12 no-padding">
      <ul id="slide-out" class="side-nav fixed teal darken-2">
        <li><h3 class="white-text">Forum Channels</h3></li>
        <li ng-repeat="channel in channels">
          <a ng-href="{{ channel.link }}" class="white-text"># {{ channel.name }}</a>
        </li>
      </ul>

      <div class="navbar-fixed hide-on-large-only">
        <nav class="teal darken-1" id="forum-channel">
          <ul>
            <li ng-repeat="channel in channels">
              <a ng-href="{{ channel.link }}"># {{ channel.name }}</a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
    <div class="col l10 m12 s12 no-padding">
      <div class="container">
        <br><br>
        <div class="row forum-wrapper">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-panel z-depth-4">
                <ul class="collection with-header">
                  <li class="collection-header">
                    <h3 class="center-align">Rules and Regulation</h3>
                  </li>
                  <li class="collection-item" ng-repeat="rule in rules">{{ rule.id }}.) {{ rule.rule }}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card">
              <div class="card-panel z-depth-4">
                <ul class="collection with-header">
                  <li class="collection-header">
                    <h3 class="center-align">Channels For Discussion</h3>
                  </li>
                  <li class="collection-item" ng-repeat="channel in channels">{{ channel.name }}
                    <a ng-href="{{channel.link}}" class="secondary-content">
                      <i class="material-icons">send</i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>