<section id="home">
  <div class="banner">
    <div class="banner-inner">
      <div class="container">
        <h1>{{msg}}</h1>
      </div>
      <a href="#home-intro" class="btn-floating btn-large waves-effect waves-light transparent">
        <i class="fas fa-angle-double-down"></i>
      </a>
    </div>
  </div>
  <section id="home-intro" class="section scrollspy teal darken-2 white-text">
    <div class="container">
      <p class="flow-text center-align">We inspire the people for there growth and we grow with them!</p>
    </div>
  </section>

  <!-- Team -->
  <section id="team" class="section">
    <h1>Our Team</h1>
    <div class="row">
      <div class="col s12 m6 l3" ng-repeat="member in teamMember">
        <div class="card">
          <div class="card-image activator grey-text text-darken-4">
            <!-- <img ng-src="{{ member.image }}"> -->
            <img src="img/default.png" >
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ member.name }}<i class="material-icons right">more_vert</i></span>
            <p class="flow-text">{{ member.intro }}</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ member.name }}<i class="material-icons right">close</i></span>
            <h5>{{ member.intro }}</h5>
            <p>{{ member.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="iot" ng-show="connected">
    <h3>Connect your Device</h3>
    <div class="row">
      <div class="col s12 m6 l4" ng-repeat="data in result">
        <div class="card horizontal p-2">
          <div class="card-image">
            <img ng-src="{{ data.image }}" alt="Icon not loaded..." height="150">
          </div>
          <div class="card-stacked">
            <div class="card-content valign-wrapper">
              <h5>{{ data.type }} - {{ data.val }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>