<section id="news">
  <div class="banner">
    <div class="banner-inner">
      <h1>{{ msg }}</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m6 my-2" ng-repeat="news in news" name="news{{ news.id }}">
        <div class="card z-depth-4">
          <div class="card-content">
            <h1>{{ news.title }}</h1>
            <p class="justify-align">{{ news.content }}</p>
          </div>
          <div class="card-action">
            <a ng-href="{{ news.link }}" class="right-align">read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>