<section id="news">
  <div class="banner">
    <div class="banner-inner">
      <h1>{{ msg }}</h1>
    </div>
  </div>

  <!-- Pre Loader -->
  <div class="preloader-wrapper" ng-show="preloader">
    <h1 class="center-align">{{ loader }}</h1>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m4 my-2 news-card" ng-repeat="news in news" name="news{{ news.id }}">
        <div class="card hoverable z-depth-2">
          <div class="card-image">
            <img ng-src="{{ news.urlToImage }}">
          </div>
          <div class="card-content">
            <h5>{{ news.title }}</h5>
            <p class="justify-align">{{ news.description }}</p>
          </div>
          <div class="card-action">
            <a ng-href="{{ news.url }}" class="right-align" target="_blank">read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>