<section id="newsDetails">
  <div class="container-fluid">
    <!-- Personal Info -->
    <div class="card horizontal hoverable">
      <div class="card-stacked row center-align">
        <div class="card-content col s12">
          <h3 class="teal-text darken-1">{{ msg }}</h3>
          <table class="highlighted responsive-table">
            <thead>
              <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Type</th>
                <th>Phone</td>
                <th>Email ID</t>
              </tr>
            </thead>
            <tbody>
              <tr id="{{ id }}">
                <td>{{ username }}</td>
                <td>{{ name }}</td>
                <td>{{ type }}</td>
                <td>{{ phone }}</td>
                <td>{{ email }}</td>
              </tr>
            </tbody>
          </table>  
        </div>
        <div class="card-action">
          <form>
            <div class="row valign-wrapper">
              <div class="input-field col s9">
                <input type="text" class="validate" name="search" ng-model="search" required>
                <label for="search" data-error="Invalid username">Search user by username</label>
              </div>
              <button class="btn waves-effect waves-light col s3" type="submit" ng-click="GotoProfile()">search</button>
            </div>
          </form>
          <div class="row">
            <div class="right-align">
              <button class="btn blue darken-2 waves-effect waves-light" ng-click="getMessage()">{{ message }}</button>
              <button class="btn waves-effect waves-light" ng-click="displayPost()">{{ displayMsg }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- message -->
    <div class="card hoverable" ng-show="messageFlag">
      <div class="card-content">
        <form class="row valign-wrapper" name="replyForum" ng-show="replyStatus" ng-submit="ChatReply()">
          <div class="input-field col s11">
            <input type="text" name="replyText" id="replyText" ng-model="replyText" class="validate" required>
            <label for="reply" data-error="Invalid Reply">Reply for {{ replyMessage }}</label>
          </div>
          <div class="col s1">
            <button type="submit" class="btn waves-effect waves-light">
              <i class="material-icons">send</i>
            </button>
          </div>
        </form>
        <table class="bordered highlight responsive-table">
          <thead>
            <tr>
              <th>SI. No</th>
              <th>From</th>
              <th>Message</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="message in MessageList">
              <td>{{ $index+1 }}</td>
              <td>{{ message.sender }}</td>
              <td>{{ message.message }}</td>
              <td><button class="btn waves-effect waves-light blue darken-2" data-target="replyMsg" ng-click="replyMessage(message)">reply</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Post form -->
    <div class="card hoverable" ng-show="display">
      <div class="card-content">
        <h3 class="teal-text darken-1">Enter your commodity</h3>
        <form name="AddPost" class="row" ng-submit="addPost()">
          <div class="input-field col m3 s12">
            <input type="text" class="validate" name="commodity" ng-model="commodity" required>
            <label for="commodity" data-error="Invalid Field">Commodity Name</label>
          </div>
          <div class="input-field col m6 s12">
            <input type="text" class="validate" name="description" ng-model="description" required>
            <label for="description" data-error="Invalid Field">Add your Description Here</label>
          </div>
          <div class="input-field col m3 s12">
            <input type="text" class="validate" name="price" ng-model="price" required>
            <label for="price" data-error="Invalid Field">Price</label>
          </div>
          <div class="input-field col s12">
            <button type="submit" class="btn btn-large waves-effect waves-light w-100">
              <span ng-bind="submitMsg"></span>
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Post -->
    <ul class="collection hoverable" ng-repeat="commodity in commodityList">
      <li class="collection-item">
        <strong class="text-capitalize">{{ commodity.name }} </strong>
        <span>({{ commodity.price }}) : </span>
        <span>{{ commodity.description }}</span>
        <span class="secondary-content" ng-click="editItem(commodity)">
          <i class="material-icons md-24 rotate-45">swap_vert</i>
        </span>
        <!-- Drop Menu -->
        <div class="col s12 my-2" name="commodity-{{ commodity.id }}" ng-show="editState && editStateItem.id === {{ commodity.id }}">
          <span><strong>{{ commodity.name }} : </strong> {{ commodity.description }}</span>
          <span class="right"><strong>Price : </strong> {{ commodity.price }}</span>
          <form>
            <div class="row">
              <div class="input-field col s12 m3">
                <input type="text" class="validate" name="name" ng-model="editStateItem.name" placeholder="Enter Commodity Name" required>
                <label for="name" data-error="Invalid Field"></label>
              </div>
              <div class="input-field col s12 m6">
                <input type="text" class="validate" name="description" ng-model="editStateItem.description" placeholder="Enter Commodity Details" required>
                <label for="description" data-error="Invalid Field"></label>
              </div>
              <div class="input-field col s12 m3">
                <input type="text" class="validate" name="price" ng-model="editStateItem.price"
                placeholder="Enter Commodity Price" required>
                <label for="price" data-error="Invalid Field"></label>                
              </div>
              <div class="input-field col s12">
                <button class="btn orange waves-effect waves-light" ng-click="updatePost(editStateItem)">Update</button>
                <button class="btn red waves-effect waves-light" ng-click="deletePost(editStateItem.id)">Delete</button>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</section>