<section id="users">
  <div class="container">
    <div class="card z-depth-4">
      <div class="card-content">
        <h3 class="teal-text darken-2">{{info}} <i class="material-icons md-36 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Have a discussion" ng-click="toggleChat()">speaker_notes</i></h3>
        <table class="responsive-table centered">
          <thead>
            <tr>
              <th>Username</th>
              <th>Name</th>
              <th>Type</th>
              <th>Phone</th>
              <th>Email ID</th>
            </tr>
          </thead>
          <tbody>
            <tr id="{{ id }}">
              <td>{{ username }}</td>
              <td>{{ name }}</td>
              <td>{{ type }}</td>
              <td>{{ phone }}</td>
              <td>{{ email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-action">
        <form>
          <div class="row valign-wrapper">
            <div class="input-field col s9">
              <input type="text" class="validate" name="search" ng-model="search" required>
              <label for="search" data-error="Invalid username">Search user by username</label>
            </div>
            <button class="btn waves-effect waves-light col s3" type="submit" ng-click="GotoProfile()">search</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Chat system -->
    <div class="card" ng-show="ChatStatus">
      <div class="card-content">
        <div class="messages-block">
            <ul>
              <li ng-repeat="x in channelMessage">
                <!-- right-alignment for own user message -->
                <div ng-class="{'right-align' : x.username === username}">
                  <span class="chip"><a class="no-style-link" ng-href="#!user/{{ x.username }}">{{ x.username }}</a> <br> {{ x.time }}</span>
                  <span class="message-content">{{ x.message }}</span>
                </div>
              </li>            
            </ul>
        </div>
      </div>
      <div class="card-action">
        <form name="message" ng-submit="addChat()">
          <div class="row valign-wrapper">
            <div class="input-field col s11">
              <input type="text" class="validate" name="msg" id="forum_msg" ng-model="msg" placeholder="Enter your message here" data-length="250" required>
            </div>
            <div class="input-field col s1">
              <button type="submit" class="btn waves-effect waves-light">
                <i class="material-icons">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Commodity List -->
    <div class="card z-depth-4" ng-repeat="commodity in commodityList">
      <div class="card-content row" id="{{ commodity.id }}">
        <div class="col s12">
          <div class="row card-title">
            <div class="col m6 s12 left-align">
              <strong class="teal-text darken-2">Commodity Name : </strong><span ng-bind="commodity.name"></span>
            </div>
            <div class="col m6 s12 right-align">
              <strong class="teal-text darken-2">Commodity Price : </strong><span ng-bind="commodity.price"></span>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <br>
              <strong class="teal-text darken-2">Commodity Description : </strong><span ng-bind="commodity.description"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>