<section id="newsDetails">
  <div class="preloader-wrapper" ng-show="preloader">
    <h1 class="center-align">Loading</h1>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>
  <div class="container"> 
    
    
    <h1 class="teal-text darken-2">{{msg}}</h1>
    <div class="card" ng-repeat="forecast in forecastList">
      <!-- <span class="card-image">
        <img ng-src="{{ forecast.day.condition.icon }}" alt="Icon not Loaded">
      </span> -->
      <div class="card-content center-align">
        <div class="card-title valign-wrapper">
          <h5 class="teal-text darken-2 left-align">
            On <strong>{{ forecast.date | reverse }}</strong> climate is <strong>{{ forecast.day.condition.text }}</strong> 
            <span><img ng-src="{{ forecast.day.condition.icon }}" alt="Icon not Loaded"></span>
          </h5>
        </div>
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Maximum Temperature</td>
              <th>Minimum Temperature</td>
              <th>Average Temperature</td>
              <th>Average Humidity</td>
              <th>Maximum Wind Speed</th>
              <th>UV Radiation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ forecast.day.maxtemp_c }}</td>
              <td>{{ forecast.day.mintemp_c }}</td>
              <td>{{ forecast.day.avgtemp_c }}</td>
              <td>{{ forecast.day.avghumidity }}</td>
              <td>{{ forecast.day.maxwind_kph }}</td>
              <td>{{ forecast.day.uv }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>